:root {
  --clr-bright-orange: hsl(31, 77%, 52%);
  --clr-dark-cyan: hsl(184, 100%, 22%);
  --clr-very-dark-cyan: hsl(179, 100%, 13%);
  --clr-transparent-white: hsla(0, 0%, 100%, 0.75);
  --bg-light-gray: hsl(0, 0%, 95%);
  --ff-big-shoulders: "Big Shoulders Display", cursive;
  --ff-lexend-deca: "Lexend Deca", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-light-gray);
}

img {
  max-width: 100%;
  display: block;
}

.container-centre {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
  /* margin: 0; */
  min-height: 100vh;
}

.columns {
  display: grid;
  grid-template-columns: 1fr;
  width: min(100% - 3rem, 125ch);
  margin-top: 3rem;
  margin-inline: auto;
  overflow: hidden;
  border-radius: 0.35rem;
}

.columns > .column {
  padding: 2rem;
}

.column-1 {
  color: var(--clr-bright-orange);
  background-color: var(--clr-bright-orange);
}

.column-2 {
  color: var(--clr-dark-cyan);
  background-color: var(--clr-dark-cyan);
}

.column-3 {
  color: var(--clr-very-dark-cyan);
  background-color: var(--clr-very-dark-cyan);
}

.column h2 {
  color: white;
  font-family: var(--ff-big-shoulders);
  font-family: 700;
  text-transform: uppercase;
  font-size: 2em;
}

.column p {
  color: white;
  /* text-wrap: balance; */
  font-family: var(--ff-lexend-deca);
  font-weight: 300;
}

.column > :not(:first-child) {
  margin-top: 1rem;
}

.column button {
  margin-top: 3rem !important;
  padding: 1em 1.5em;
  color: inherit;
  border-radius: 50px;
  border: none;
}

@media (min-width: 792px) {
  .columns {
    margin-top: 3rem 0;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
  }
}

.attribution {
  margin-top: 3rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
