:root {
  --clr-p-blue: hsl(225, 100%, 94%);
  --clr-vp-blue: hsl(225, 100%, 98%);
  --clr-b-blue: hsl(245, 75%, 52%);
  --clr-ds-blue: hsl(224, 23%, 55%);
  --clr-d-blue: hsl(223, 47%, 23%);

  --ff-red-hat: "Red Hat Display", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
